table {
    max-width: -webkit-fill-available;
    width: 100%;
    white-space: nowrap;
    border-inline: 3px inset;
    border-block: 3px outset;
}
tr {
    max-width: -webkit-fill-available;
    width: 100%;
}
td {
    max-width: 25%;
    overflow: hidden;
    border-block: 2px dashed #9A9A9A;
}