body{
    background-image: url(table.jpg);
    background-size: cover;
}

.row{
    text-align: center;
    background-color: ivory;
    background-image: url(cloth.jpg);
    border-radius: 10px;
}

.carta{
    margin-top: 6px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: lightgray;
    height: 280px;
    width: 198.66px;
    object-fit: fill;
    margin-bottom: 6px;
}